a {
  text-decoration: none;
  color: black;  
}

a:hover {    
  text-decoration: underline;   
}

.activeLink {
    font-weight: bold;
    background-color: black;
    border-radius: 4px;
    color: white;
    
  }
  
  .page {
    padding: 5px;    
    font-size: 13px;  
  }

  button {
    margin: 7px;
  }
  

  