.header {
  grid-area: h;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: solid 1px rgb(214, 209, 209);
  border-right: solid 1px rgb(214, 209, 209);
  border-bottom: solid 1px rgb(214, 209, 209);
  padding-left: 50px;
   
}

.header img {
  width: 50px;  
}

.loginBlock {
  float: right;
}
