.friend img {
  width: 30px;  
  display: block;
  margin: 0 auto; 
  border-radius: 5px; 
}

.friend {
  text-align: center;
  padding: 5px;
  display: inline-block;
  font-size: 12px;
  width: 60px;
}

.friendsName {
  overflow: hidden;
  text-overflow: ellipsis;
}