.descriptionBlock {
  padding: 10px;
}

.mainPhoto {
  max-width: 200px;
  border-radius: 20px;
}

.statusText {
  padding: 10px;
}

.contacts {
  padding-left: 10px;
}

.status {
  margin-top: 10px;
  margin-bottom: 10px;
}
